@font-face {
  font-family: "founders-mono";
  src: url("../../fonts/founders-grotesk-mono-regular.woff") format("woff"); }

@font-face {
  font-family: "founders";
  src: url("../../fonts/founders-grotesk-light.woff") format("woff"); }

@font-face {
  font-family: "founders-bold";
  src: url("../../fonts/founders-grotesk-medium.woff") format("woff"); }

@font-face {
  font-family: "inter";
  src: url("../../fonts/Inter-Light.woff") format("woff"); }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

* {
  box-sizing: border-box; }

::selection {
  background: #15191c;
  color: #f3f7fb; }

::-moz-selection {
  background: #15191c;
  color: #f3f7fb; }

html, body {
  height: 100%;
  width: 100%;
  font-family: founders, sans-serif;
  margin: 0;
  padding: 0;
  color: #15191c;
  background: #f3f7fb;
  text-align: center; }

.inter {
  font-family: inter;
  font-size: 0.87em; }

a {
  display: inline-block;
  color: #6e757f;
  text-decoration-color: #6e757f;
  transition: filter 0.5s;
  align-self: flex-start; }
  a.invisible {
    color: inherit;
    text-decoration: none; }
  a.secure {
    background: url(../assets/icons/lock.svg) no-repeat right 0.25em;
    padding-right: 19px; }
  a.disabled {
    text-decoration: none;
    pointer-events: none; }
  a:hover {
    filter: brightness(1.2); }

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-size: 1rem; }

h1 {
  font-family: founders;
  font-size: 1.1em; }

h2, h3 {
  color: #ff4000;
  margin: 2em 0; }

p {
  margin: 0 0 0.35em 0;
  line-height: 1.4em;
  letter-spacing: 0.5px; }
  p.desc {
    color: #6e757f; }
  p.caption {
    font-family: founders-mono;
    font-size: 0.8em;
    color: #6e757f;
    opacity: 0.5; }
  p.metric {
    font-family: founders;
    font-size: 4em;
    line-height: 0.8em;
    margin-bottom: 0; }
  p.metric .vanilla {
    font-family: founders-mono; }
  p.center {
    align-self: center; }

hr {
  flex: 1;
  border: none;
  border-top: 1px dotted rgba(107, 117, 127, 0.25);
  transform: translateY(3px); }
  hr.pad {
    margin-bottom: 2em; }

footer {
  padding: 15vw 0; }

header {
  padding: calc(1.5em + 2vw);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.7s, filter 0.7s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2; }
  header a.back {
    background: url(../../assets/icons/arrow-left.svg) no-repeat left 0.35em;
    padding-left: 19px; }
  header.hide {
    opacity: 0;
    filter: blur(4px);
    pointer-events: none; }

.icon {
  width: 1.5em; }

.heroicon {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 45vh;
  padding: 0 calc(1.5em + 2vw);
  justify-content: center;
  align-items: flex-end;
  transition: opacity 0.7s, filter 0.7s;
  top: 0;
  z-index: 1; }
  .heroicon.hide {
    opacity: 0;
    filter: blur(4px);
    pointer-events: none; }
  .heroicon img {
    width: calc(2em + 5vw); }

main {
  width: 90%;
  max-width: calc(700px + 5vw);
  margin: 0 auto;
  padding: 55vh 0 0 0; }
  main.interior {
    padding-top: 20vh; }

.interior-icon {
  width: 4em; }

img {
  width: 100%;
  margin-bottom: 2em; }
  img.w-caption {
    margin-bottom: 1em; }

.headline {
  font-size: calc(1em + 2vw);
  line-height: 1em;
  padding: 2em calc(1.5rem + 2vw);
  max-width: calc(700px + 5vw);
  width: 90%;
  margin: 0 auto 5vh auto;
  text-align: center; }
  .headline.tight {
    padding-top: 0; }

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  margin-bottom: 2em;
  padding: calc(1.5rem + 2vw) 2vw;
  border-radius: 1em;
  transition: padding 0.2s; }
  section.cols {
    padding: 0; }
  section.tight {
    padding-top: 0; }
  section .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    gap: 0.5em; }
    section .row.link {
      color: inherit;
      text-decoration: inherit; }
      section .row.link:hover {
        color: #ff4000; }
    section .row .icon {
      width: 4em;
      height: 4em;
      margin-left: -0.25em; }
    section .row a {
      align-self: center;
      margin-top: 0;
      opacity: 0.4;
      transition: opacity 0.2s; }
      section .row a:hover {
        opacity: 0.7; }
    section .row .link-icon {
      width: 1.5em;
      height: 1.5em; }
      section .row .link-icon img {
        width: 1.5em;
        height: 1.5em; }
  section.card {
    flex-direction: column;
    padding: calc(2rem + 1vw);
    box-shadow: 0 1px 1px rgba(21, 25, 28, 0.015), 0 2px 2px rgba(21, 25, 28, 0.015), 0 4px 4px rgba(21, 25, 28, 0.015), 0 6px 6px rgba(21, 25, 28, 0.015), 0px 0px 0px 1px rgba(0, 0, 0, 0.025);
    transition: none; }
    section.card .desc {
      flex: 1; }
    section.card .row {
      margin-bottom: 2em; }
  section a:not(.row) {
    margin-top: 1em; }

.tabs {
  position: relative;
  display: flex;
  align-self: center;
  flex-direction: row;
  padding: 0.25em;
  border-radius: 8px;
  border: 1px solid #6e757f;
  margin-bottom: 1em; }
  .tabs a {
    margin-top: 0; }
  .tabs .tab {
    padding: 0.75em 1em;
    border-radius: 4px;
    font-size: 0.9em;
    transition: opacity 0.2s;
    user-select: none; }
    .tabs .tab:hover {
      cursor: default; }
    .tabs .tab.active {
      background: #15191c;
      color: #f3f7fb; }
    .tabs .tab:hover:not(.active) {
      opacity: 0.7; }

@media screen and (min-width: 900px) {
  section.cols {
    flex-direction: row;
    gap: 2em; }
    section.cols section.card {
      flex: 1; } }
.stats {
  display: flex;
  flex-direction: column;
  margin: 2em 0 4em 0; }
  .stats .stat {
    flex: 1;
    margin-bottom: 2em; }

@media screen and (min-width: 900px) {
  .stats {
    flex-direction: row;
    gap: 0; } }
/* DARK MODE */
@media (prefers-color-scheme: dark) {
  ::selection {
    background: #f3f7fb;
    color: #15191c; }

  ::-moz-selection {
    background: #f3f7fb;
    color: #15191c; }

  html, body {
    background: #15191c;
    color: #f3f7fb; }

  div.tabs .tab.active {
    background: #f3f7fb;
    color: #15191c; }

  section.card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 4px 4px rgba(0, 0, 0, 0.075), 0 6px 6px rgba(0, 0, 0, 0.075), 0 2px 2px rgba(0, 0, 0, 0.075), 0px 0px 0px 1px rgba(255, 255, 255, 0.035); } }
