@font-face {
  font-family: "founders-mono";
  src: url("../../fonts/founders-grotesk-mono-regular.woff") format('woff');
}

@font-face {
  font-family: "founders";
  src: url("../../fonts/founders-grotesk-light.woff") format('woff');
}

@font-face {
  font-family: "founders-bold";
  src: url("../../fonts/founders-grotesk-medium.woff") format('woff');
}

@font-face {
  font-family: "inter-light";
  src: url("../../fonts/Inter-Light.woff2") format('woff');
}

@font-face {
  font-family: "inter";
  src: url("../../fonts/Inter-Regular.woff2") format('woff');
}

@font-face {
  font-family: "inter-bold";
  src: url("../../fonts/Inter-Bold.woff2") format('woff');
}

@font-face {
  font-family: "tiempos";
  src: url("../../fonts/tiempos-headline-test-light.woff") format('woff');
}

$primary: #ff4000;
$white: #f3f7fb;
$white: #fff;
$black: rgb(69, 73, 84);
$rich-black: rgb(21, 22, 22);
$gray: #8e8f87;

$pwidth: 700px;

// Reset

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

* {
  box-sizing: border-box;
}





// Utility

::selection {
  background: $black;
  color: $white;
}

::-moz-selection {
  background: $black;
  color: $white;
}







// Core

html,
body {
  position: relative;
  font-family: inter, sans-serif;
  margin: 0;
  padding: 0;
  color: $gray;
  background-color: $white;
  font-size: 11pt;
  letter-spacing: 0.15pt;
}


header,
footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  font-family: founders;
  font-size: 1.25em;

  width: 100%;
  height: 100vh;

  letter-spacing: calc(0.5em - 0.25vw);

  transition: all 0.05s;

  user-select: none;
  pointer-events: none;
  background-image: url('../bg-light.jpg');
  background-size: cover;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  p,
  a {
    filter: blur(0.15px);
  }

  p {
    max-width: 700px;
    text-align: center;

  }

  a {
    color: $gray;
    pointer-events: all;
    letter-spacing: 0;

    transition: color 0.1s;

    &:hover {
      color: $black;
    }
  }

  img {
    width: calc(80% - 40vw);
    max-width: 400px;
  }


}

footer {
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: initial;

  p {
    width: 80%;
    font-size: calc(1em + 0.5vw);
  }
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
}


// main {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     overflow-y: auto;
//     overflow-x: hidden;
//     z-index: 2;

//     box-sizing: border-box;

//     display: flex;
//     flex-direction: column;

//     perspective: 10px;
//     transform-style: preserve-3d;

//     &::-webkit-scrollbar {
//         display: none;
//     }

//     img {
//         position: relative;
//         user-select: none;
//         pointer-events: none;
//         border-radius: 1px;
//         height: auto;
//         object-fit: cover;
//     }

//     img:first-child { margin-top: 100vh; }
//     img:last-child { margin-bottom: 100vh; }

//     img:nth-child(1) {
//         width: 40%;
//         align-self: flex-end;
//         transform: translateZ(1px) translateX(-20%) scale(1);
//         z-index: 1;
//     }

//     img:nth-child(2) {
//         transform: translateZ(2px);
//         z-index: 2;
//     }

//     img:nth-child(3) {
//         width: 40%;
//         align-self: flex-start;
//         transform: translateZ(1px) translateX(20%) scale(1);
//         margin-top: -10%;
//         z-index: 1;
//     }

//     img:nth-child(4) {
//         width: 70%;
//         align-self: flex-start;
//         transform: translateZ(3px) translateX(30%) scale(1);
//         z-index: 2;
//     }

// }



@media screen and (min-width: 900px) {
  header {
    flex-direction: row;
  }
}


/* DARK MODE */

@media (prefers-color-scheme: dark) {

  ::selection {
    background: $white;
    color: $black;
  }

  ::-moz-selection {
    background: $white;
    color: $black;
  }

  html,
  body {
    background-color: $rich-black;
  }

  header,
  footer {
    background-image: url('../bg-dark.jpg');

    a:hover {
      color: $white;
    }
  }


  div.tabs .tab.active {
    background: $white;
    color: $black;
  }

  section.card {
    // background: $black url(noise.png) top left/20;
    box-shadow:
      0 1px 1px rgba(black, 0.075),
      0 4px 4px rgba(black, 0.075),
      0 6px 6px rgba(black, 0.075),
      0 2px 2px rgba(black, 0.075),
      0px 0px 0px 1px rgba(255, 255, 255, 0.035);
  }

}